<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Noom</title>
</head>
<body>
    <header>
        <h1>Noom</h1>
    </header>
    <main>
        <div id="welcome">
            <form>
                <input type="text" id="nickName" placeholder="nickname" required>
                <input type="text" id="room name" placeholder="nickname" required>
                <button>Enter Room</button>
            </form>
            <h4>Open Rooms:</h4>
            <ul></ul>
        </div>
        <div id="room">
            <h3></h3>
            <ul></ul>
            <form id="msg">
                <input type="text" placeholder="message" required>
                <button>Send</button>
            </form>
        </div>
    </main>
</body>
<script src="socket.io/socket.io.js"></script>
<script src="../public/js/chat.js"></script>
</html>